[general]
import = [
  # "~/.config/hypr/alacritty/colors.toml",
  "~/.config/alacritty/fonts.toml",
  "~/.config/alacritty/themes/catppuccin_latte.toml",
]

[keyboard]
bindings = [
  { key = "Enter", mods = "Control|Shift", action = "CreateNewWindow" },
  { key = "+", mods = "Control|Shift", action = "IncreaseFontSize" },
  { key = "-", mods = "Control|Shift", action = "DecreaseFontSize" },
  { key = "=", mods = "Control", action = "ResetFontSize" },

  { key = "s", mods = "Control|Shift", action = "ToggleViMode" },
  { key = "Escape", mode = "Vi|~Search", action = "ToggleViMode" },
  { key = "s", mode = "Vi|~Search", action = "ToggleNormalSelection" },
  { key = "x", mode = "Vi|~Search", action = "ToggleLineSelection" },
  { key = ";", mode = "Vi|~Search", action = "ClearSelection" },
]

[env]
TERM = "alacritty"
WINIT_X11_SCALE_FACTOR = "1.0"

# WINDOW ---------------------------------------------------------
[window]
position = "None"
dynamic_padding = true
decorations = "none"
opacity = 1.0
blur = false
startup_mode = "Windowed"
dynamic_title = true
class = { instance = "Alacritty", general = "Alacritty" }
decorations_theme_variant = "None"

[scrolling]
history = 10000
multiplier = 3
