[[language]]
name = "rust"
language-servers = ["rust-analyzer", "harper-ls"]
formatter = { command = "rustfmt" }
auto-format = true

[language-server.rust-analyzer.config]
checkOnSave = { command = "clippy" }
# inlayHints.typeHints = false
# inlayHints.parameterHints= false
# inlayHints.maxLength = 90

[[language]]
name = "c"
file-types = ["h", "c"]
indent = { tab-width = 4, unit = "t" }
language-servers = [ "clangd" ]

[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
rulers = [20]
text-width = 80

[[language]]
name = "kdl"
indent = { tab-width = 4, unit = "    " }

[[language]]
name = "python"
language-servers = [ "pyright" ]
