[language-server.harper-ls]
args = ["--stdio"]
command = "harper-ls"
# notice the key:
config = { harper-ls = { diagnosticSeverity = "error", linters = { long_sentences = false } } }

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "harper-ls"]
formatter = { command = "rustfmt" }
auto-format = true

[language-server.rust-analyzer.config]
checkOnSave = { command = "clippy" }
# inlayHints.typeHints = false
# inlayHints.parameterHints= false
# inlayHints.maxLength = 90

[language-server.hyprls]
command = "hyprls"

[[language]]
name = "markdown"
formatter = { command = "dprint", args = ["fmt", "--stdin", "md"] }
auto-format = true
rulers = [20]
text-width = 80

[language-server.emmet-lsp]
command = "emmet-language-server"
args = ["--stdio"]

[[language]]
name = "html"
auto-format = true
language-servers = [ "emmet-lsp", "vscode-html-language-server" ]

[[language]]
name = "kdl"
indent = { tab-width = 4, unit = "    " }
