@import            "base.rasi"

window {
    width:                       1100px;
}

listview {
    lines:                       30;
    spacing:                     3px;
}

element-text {
    horizontal-align:            0.0;
    padding:                     0px 20px;
    font:                        "JetBrainsMono NF 10";
}
