@import            "base.rasi"

configuration {
   show-icons:                   true;
}

window {
    width:                       800px;
    height:                      800px;
}

listview {
    lines:                       35;
    spacing:                     3px;
}

element-text {
    horizontal-align:            0.0;
}
