@import "./themes/onelight.css";

* {
  min-height: 0;
}

/** *********************************************************************************************** **/
/** *************************************************************************************** Bar *** **/
window#waybar {
  background-color: transparent;

  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

/** *********************************************************************************************** **/
/** *************************************************************************************** All *** **/
#backlight,
#battery,
#clock.date,
#clock.time,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#custom-spotify,
#idle_inhibitor,
#tray,
#pulseaudio,
#network,
#custom-expressvpn,
#bluetooth {

  /* font-family: "DaddyTimeMono Nerd Font Mono", sans-serif; */
  /* font-family: "MartianMono NF", sans-serif; */
  font-family: "JetBrainsMono NF", sans-serif;

  /* font-family: "MartianMono NFP Cond", sans-serif; */
  /* font-family: "MartianMono NFP Cond Med", sans-serif; */
  /* font-family: "MartianMono NFP Med", sans-serif; */

  /* font-family: "RecMonoCasual Nerd Font"; */
  font-size: 13px;

  background-color: @background;
  color: @text;

  margin: 0px 2px;
  padding: 0px 10px;
}

/* #workplaces, */
#hardware,
#commands,
#web,
#hour,
#sound,
#tray,
#bluetooth {

  border: 2px solid;
  border-radius: 15px;

  background-color: @background;
  color: @text;

  padding: 0px 8px;
  margin: 0px 4px;
}

#idle_inhibitor,
#clock.time,
#memory,
#pulseaudio.mic,
#custom-expressvpn {
  border-radius: 8px;
  margin: 2px 0px;
}


/** *********************************************************************************************** **/
/** ************************************************************************************* Clock *** **/
#hour {
  border-color: @time;
}

#clock.date {
  color: @time;
}

#clock.time {
  background-color: @time;
}

/** *********************************************************************************************** **/
/** ********************************************************************************** Hardware *** **/
#hardware {
  border-color: @hardware;
}

#cpu {
  color: @hardware;
}

#memory {
  background-color: @hardware;
}

#disk {
  /* color: @blue; */
}

/** *********************************************************************************************** **/
/** ********************************************************************************** Commands *** **/
#commands {
  border-color: @commands;
}

#custom-themes {
  color: @commands;
}

#custom-power {
  color: @commands;

  font-size: 17px;
  padding: 0px 12px;
}

#idle_inhibitor {
  background-color: @commands;
  color: @text;
}

#idle_inhibitor.deactivated {
  background-color: @disabled;
  color: @text;
}

/** *********************************************************************************************** **/
/** ********************************************************************************** Hyprland *** **/
#workspaces {
  background-color: @background;

  border-radius: 15px;
  border: 2px solid @workspaces;
  margin: 0px 20px;
  padding: 0px 15px;

  /* font-family: "DaddyTimeMono Nerd Font Mono", sans-serif; */
  font-family: "MartianMono NF", sans-serif;
  /* font-family: "JetBrainsMono NF", sans-serif; */

  /* font-family: "MartianMono NFP Cond", sans-serif; */
  /* font-family: "MartianMono NFP Cond Med", sans-serif; */
  /* font-family: "MartianMono NFP Med", sans-serif; */

  /* font-family: "RecMonoCasual Nerd Font"; */
  font-size: 16px;
  font-weight: bold;
}

#workspaces button {
  color: @workspace_visible;
  margin: 2px;
  border-radius: 12px;
  padding: 0px 15px;
}

#workspaces button.visible {
  background-color: @workspace_visible;
  padding: 0px 27px;
  color: @text;
}

#workspaces button.active {
  background-color: @workspaces;
  padding: 0px 27px;
  color: @text;
}

#workspaces button.urgent {
  background-color: @workspace_urgent;
  color: @text;
}

#workspaces button:hover {
  background-color: transparent;
  color: @text;
}

/** *********************************************************************************************** **/
/** ************************************************************************************ Submap *** **/
#submap {
  /* font-family: "DaddyTimeMono Nerd Font Mono", sans-serif; */
  /* font-family: "JetBrainsMono NF", sans-serif; */
  font-family: "MartianMono NF", sans-serif;
  font-size: 15px;
  font-weight: bold;

  padding: 0px 20px;
  border-radius: 7px;
  background-color: @submap;
  color: @text;
}

/** *********************************************************************************************** **/
/** ************************************************************************************** Tray *** **/
#tray {
  border-color: @tray;
  padding: 0px 15px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
}

#tray>.active {}

/** *********************************************************************************************** **/
/** ******************************************************************************** Pulseaudio *** **/
#sound {
  border-color: @sound;
}

#pulseaudio.speaker {
  color: @sound;
}

#pulseaudio.mic {
  background-color: @sound;
}

#pulseaudio.speaker.muted {
  background-color: @text;
  color: @disabled;
}

#pulseaudio.mic.source-muted {
  background-color: @disabled;
  color: @text;

  border-radius: 8px;
  margin: 2px 0px;
}

/* #pulseaudio.bluetooth { */
/* background-color: @yellow; */
/* } */

/** *********************************************************************************************** **/
/** ********************************************************************************* Bluetooth *** **/
#bluetooth {
  border-color: @bluetooth;
  color: @bluetooth;
}

#bluetooth.disabled,
#bluetooth.off {
  border-color: @disabled;
  color: @disabled;
}

#bluetooth.on {}

#bluetooth.connected {}

#bluetooth.discoverable {}

#bluetooth.discovering {}

#bluetooth.pairable {}

/** *********************************************************************************************** **/
/** *********************************************************************************** Network *** **/
#web {
  border-color: @web;
}

#network {
  /* border-color: @red; */
  color: @web;
}

#network.disconnected,
#network.disabled {
  color: @disabled;
}

#network.linked {}

#network.ethernet {}

#network.wifi {}

#custom-expressvpn {
  background-color: @web;
}

/** *********************************************************************************************** **/
/** ********************************************************************************* Backlight *** **/
#backlight {
  background-color: @backlight;
}

/** *********************************************************************************************** **/
/** ********************************************************************************** Battery *** **/
#battery {
  background-color: @battery;
}

#battery.charging {}

#battery.plugged {}

@keyframes blink {
  to {
    color: @battery;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}