* {
    background:           #282828;
    background-alt:       #458588;
    background-inputbar:  #458588;
    foreground:           #EBDBB2;
    foreground-inputbar:  #282828;
    selected:             #458588;
    active:               #458588;
    urgent:               #CC241D;
}
