* {
    background:           #FAFAFA;
    background-alt:       #A726A4;
    foreground:           #373A41;
    foreground-inputbar:  #FAFAFA;
    selected:             #A726A4;
    active:               #A726A4;
    urgent:               #CA1343;
}
