@import "catppuccin.css";

* {
  font-family: "JetBrainsMono NFM:style=Bold", "Noto Sans", "Roboto Condensed",
    sans-serif;

  font-size: 15px;
  color: @base;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}
/* ----------------------------------------------------- */
#backlight,
#battery,
#clock,
#cpu,
#memory,
#tray,
#pulseaudio,
#submap,
#language,
#custom-power,
#custom-cycle_wall,
#custom-expressvpn,
#custom-mail {
  padding: 0em 0.8em;
  border-radius: 0.3em;
}
/* ----------------------------------------------------- */
#workspaces {
  background-color: transparent;
  margin: 0em 1em 0em 0em;
}
#workspaces button,
#workspaces button.active {
  background-color: @overlay0;
  color: @base;
  font-weight: bold;

  margin-right: 0.1em;
  min-width: 2em;
  border-radius: 0.3em;

  transition: all 0.2s ease-in-out;
}
#workspaces button.active {
  background-color: @blue;
  min-width: 3.5em;
}
#workspaces button.urgent {
  background-color: @red;
}
/* ----------------------------------------------------- */
#submap {
  background-color: @maroon;
  font-weight: bold;
  padding: 0em 2em;
  transition: all 0.5s ease-in-out;
}
#language {
  background-color: @teal;
}
/* ----------------------------------------------------- */
#clock {
  background-color: @sky;
}
/* ----------------------------------------------------- */
#pulseaudio {
  background-color: @peach;
  color: @base;
  margin-right: 0.3em;
}
#pulseaudio.muted {
  background-color: @surface1;
  color: @text;
}
#pulseaudio.mic {
  background-color: @peach;
  color: @base;
}
#pulseaudio.mic.source-muted {
  background-color: @surface1;
  color: @text;
}
/* ----------------------------------------------------- */
#custom-power {
  background-color: @base;
  color: @text;
  padding: 0em 0.5em 0em 0.9em;
}
/* ----------------------------------------------------- */
#cpu {
  background-color: @teal;
  padding-right: 1.1em;
  margin-right: 0.3em;
}
#memory {
  background-color: @yellow;
  padding-right: 1.2em;
}
/* ----------------------------------------------------- */
#custom-expressvpn {
  background-color: @blue;
}
#custom-mail {
  background-color: @yellow;
}
#custom-agenda {
  background-color: @yellow;
}
/* ----------------------------------------------------- */
#tray {
  background-color: transparent;
}
