/* @import "catppuccin/frappe.css"; */
/* @import "catppuccin/latte.css"; */
/* @import "catppuccin/macchiato.css"; */
@import "catppuccin/mocha.css";

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}
/* ----------------------------------------------------- */
#backlight,
#battery,
#clock,
#cpu,
#memory,
#tray,
#pulseaudio,
#privacy,
#submap,
#language,
#custom-power,
#custom-cycle_wall,
#custom-expressvpn,
#custom-mail {
  font-family: "Ubuntu Nerd Font", "Noto Sans", "Roboto Condensed";

  font-size: 1.15em;
  color: @base;

  padding: 0em 0.9em;
  border-radius: 0.6em;
}
/* ----------------------------------------------------- */
#workspaces {
  /* font-family: "BigBlueTerm437 Nerd Font Mono", "Noto Sans", "Roboto Condensed"; */
  /* font-family: "CodeNewRoman Nerd Font", "Noto Sans", "Roboto Condensed"; */
  font-family: "Ubuntu Nerd Font", "Noto Sans", "Roboto Condensed";
  font-size: 1.35em;
  font-weight: bold;

  background-color: transparent;
  /* background-color: @base; */
  padding: 0em 1em 0em 1em;
  margin: 0em 2.5em 0em 0em;
  border-radius: 0.6em;
}
#workspaces button,
#workspaces button.active {
  background-color: @surface1;
  border-color: @surface1;
  color: @text;

  margin-right: 0.3em;
  min-width: 1.7em;
  border-radius: 0.6em;

  transition: all 0.2s ease-in-out;
}
#workspaces button.active {
  background-color: @blue;
  border-color: @blue;
  color: @base;

  min-width: 2.7em;
  /* border-radius: 0.7em; */
}
#workspaces button.urgent {
  background-color: @red;
  border-color: @red;
  color: @base;

  min-width: 2.7em;
}
/* ----------------------------------------------------- */
#submap {
  font-size: 1.3em;
  font-weight: bold;

  background-color: @red;
  margin-right: 2.5em;
  padding: 0em 3em;
  transition: all 0.5s ease-in-out;

  border-style: dotted;
  border-radius: 0.5em;
}
#language {
  background-color: @mauve;
}
/* ----------------------------------------------------- */
#clock {
  background-color: @peach;
}
/* ----------------------------------------------------- */
#pulseaudio {
  background-color: @green;
  color: @base;
  margin-right: 0.3em;
}
#pulseaudio.muted {
  background-color: @surface1;
  color: @text;
}
#pulseaudio.mic {
  background-color: @teal;
  color: @base;
}
#pulseaudio.mic.source-muted {
  background-color: @surface1;
  color: @text;
}
/* ----------------------------------------------------- */
#custom-power {
  background-color: @base;
  color: @text;
  padding: 0em 0.5em 0em 0.9em;
}
/* ----------------------------------------------------- */
#cpu {
  background-color: @teal;
  padding-right: 1.1em;
  margin-right: 0.3em;
}
#memory {
  background-color: @yellow;
  padding-right: 1.2em;
}
/* ----------------------------------------------------- */
#custom-expressvpn {
  background-color: @blue;
}
#custom-mail {
  background-color: @yellow;
}
/* ----------------------------------------------------- */
#tray {
  /* background-color: transparent; */
  background-color: @surface0;
}
/* ----------------------------------------------------- */
/* CONFIRM - doesn't work on 2023-11-06 */
#privacy,
#privacy-item,
#privacy-item.audio-out,
#privacy-item.audio-in,
#privacy-item.screenshare {
  background-color: @blue;
}
