// ░░░░░   █▀ ▀█▀ █▄█ █░░ █▀▀   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ░░░░░   ▄█ ░█░ ░█░ █▄▄ ██▄   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

layout {
    gaps 13

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    // center-focused-column "on-overflow"
    center-focused-column "never"
    // center-focused-column "always"

    always-center-single-column

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    default-column-width { proportion 0.5; }
    preset-column-widths {
        proportion 0.2
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.8
    }
    preset-window-heights {
        proportion 0.2
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.8
    }

    focus-ring {
        // off
        width 11
        // active-color "#7fc8ff"
        // inactive-color "#505050"
        active-gradient from="#ef9f76" to="#e78284"
        inactive-gradient from="#838ba7" to="#51576d"
       
    }

    border {
        off
        width 8
        // active-color "#ffc87f"
        // inactive-color "#505050"
        active-gradient from="#ef9f76" to="#e78284"
        inactive-gradient from="#838ba7" to="#51576d"
       
    }

    struts {
        left -2
        right -2
        top -3
        bottom -1
    }

}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

