// ░░░░░   █▀ ▀█▀ █▄█ █░░ █▀▀   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// ░░░░░   ▄█ ░█░ ░█░ █▄▄ ██▄   ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

layout {
    gaps 12

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    // center-focused-column "on-overflow"
    center-focused-column "never"
    // center-focused-column "always"

    always-center-single-column

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }


    focus-ring {
        // off
        width 8
        // active-color "#7fc8ff"
        // inactive-color "#505050"
        active-gradient from="#458588" to="#689D6A"
        inactive-gradient from="#928374" to="#282828"
    }

    border {
        off
        width 8
        // active-color "#ffc87f"
        // inactive-color "#505050"
        active-gradient from="#458588" to="#689D6A"
        inactive-gradient from="#928374" to="#282828"
    }

    struts {
        left 10
        right 10
        top 0
        bottom 0
    }

}

// Animation settings.
// The wiki explains how to configure individual animations:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

